## Visual Studio & .NET Build Artifacts
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa]rms/
[Aa]rm64/
bld/
[Bb]uild/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
.idea/
.vscode/

## Test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

## Operating System Files
.DS_Store
Thumbs.db
crash.txt
